{{- $host := site.Params.remark42.host | default "" }}
{{- $apiHost := "" }}
{{- if $host }}{{ $apiHost = strings.TrimSuffix "/web" $host }}{{ end }}
{{- $siteID := site.Params.remark42.siteId | default "blog.mornati.net" }}
{{- if $host }}
<div id="remark42"></div>
<script>
  window.remark_config = {
    host: {{ $apiHost | jsonify | safeJS }},
    site_id: {{ $siteID | jsonify | safeJS }},
    url: {{ .Permalink | jsonify | safeJS }},
    theme: {{- if and (eq site.Params.defaultAppearance "dark") (not site.Params.autoSwitchAppearance) }}
      "dark"{{- else }} "light"{{- end }},
    locale: {{ .Lang | jsonify | safeJS }},
    max_shown_comments: 10,
    components: ["embed"],
  };
</script>
<script>
  (function (c) {
    var d = document, s = d.createElement("script");
    s.src = window.remark_config.host + "/web/embed.js";
    s.defer = true;
    s.async = true;
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the comments.</noscript>
{{- end }}
